<div class="card" style="width: 75%">
      <div class="card-body">
        <h5 class="card-title">The Way Home</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Posted by: John Doe on Aug 28 2021
        </h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <hr />
        <!-- for each comment -->
        <a href="#" class="card-link comment">Comment</a>
      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <input
          type="text"
          class="form-control"
          id="comment"
          placeholder="Time to go 127.0.0.1"
        />
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- stay nop refresh -->